.content {
  flex-grow: 1;
  position: relative;
  z-index: 0;
  background-color: var(--background-color);
}
.anchor {
  position: relative;
  top: -48px;
}
.anchorTitle {
  display: none;
}
@media print {
  .anchor {
    position: relative;
    top: 0;
    z-index: 1;
    max-width: var(--container-max-width);
    margin-left: auto;
    margin-right: auto;
    padding: 0 32px;
    text-align: center;
    color: var(--paper-color);
    background-color: var(--header-color);
    box-shadow: 0 0 6px #00000088;
    &[id='game'] {
      color: #f29d8a;
    }
    &[id='mod'] {
      color: #c0c866;
    }
    &[id='3dcg'] {
      color: #e8a855;
    }
    &[id='painting'] {
      color: #8dc69c;
    }
    &[id='animation'] {
      color: #dac135;
    }
    &[id='app'] {
      color: #7eb9c4;
    }
    &[id='model'] {
      color: #ccc24e;
    }
    &[id='hardware'] {
      color: #b1a5a5;
    }
  }
  .anchorTitle {
    display: block;
    position: relative;
    padding: 8px 0;
    font-weight: 500;
    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: -12px;
      left: 50%;
      margin-left: -8px;
      border-top: 12px solid var(--header-color);
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }
  }
}
@media print {
  .content {
    background-color: transparent;
  }
}
