.footer {
  display: flex;
  background-color: var(--background-color);
}
.footerContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 32px;
  padding: 32px 64px 32px 72px;
}
.avatar img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.name {
  margin-bottom: 24px;
}
.mainName {
  font-weight: 700;
  font-size: 1.8rem;
}
.description {
  margin-bottom: 4px;
}
.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  & > li {
    display: inline-block;
    margin-right: 16px;
  }
}
@media (max-width: 991px) {
  .footer {
    justify-content: center;
  }
  .footerContainer {
    flex-grow: 0;
    padding: 16px 32px;
    gap: 16px;
  }
  .avatar img {
    width: 80px;
    height: 80px;
    padding: 4px;
  }
  .profile {
    padding-bottom: 16px;
  }
  .name {
    margin-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .footerContainer {
    padding: 16px 16px;
  }
}
@media print {
  .footer {
    height: 100vh;
    background-color: transparent;
    align-items: center;
    justify-content: center;
  }
  .footerContainer {
    flex-grow: 0;
  }
}
