.footer {
  display: flex;
  background-color: var(--background-color);
}
.footerContainer {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: max-content 1fr max-content;
  flex-grow: 1;
  padding: 32px 36px 32px 72px;
}
.avatar img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}
.name {
  margin-bottom: 24px;
}
.mainName {
  font-weight: 700;
  font-size: 1.8rem;
}
.description {
  margin-bottom: 4px;
}
.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  & > li {
    display: inline-block;
    margin-right: 16px;
  }
}
.copyright {
  align-self: flex-end;
  white-space: nowrap;
  color: #84807a;
}
@media (max-width: 991px) {
  .footer {
    justify-content: center;
  }
  .footerContainer {
    grid-template-columns: max-content 1fr;
    grid-gap: 16px;
    flex-grow: 0;
    padding: 16px 32px;
  }
  .avatar img {
    width: 80px;
    height: 80px;
    padding: 4px;
  }
  .name {
    margin-bottom: 16px;
  }
  .copyright {
    grid-column-end: span 2;
    padding-top: 16px;
    padding-bottom: 4px;
    border-top: 1px solid #84807a44;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .footerContainer {
    padding: 16px 16px;
  }
}
@media print {
  .footer {
    height: 100vh;
    background-color: transparent;
    align-items: center;
    justify-content: center;
  }
  .footerContainer {
    flex-grow: 0;
  }
}
