.title {
  position: relative;
  z-index: 3;
  margin-bottom: -8px;
  color: var(--paper-color);
  background-color: var(--header-color);
}
.titleContainer {
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 20px 36px 12px 72px;
}
.titleText {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  letter-spacing: 0.05em;
  a {
    font-weight: inherit;
  }
  span {
    color: transparent;
    background-image: linear-gradient(60deg, #ef7e62 0%, #ed61a0 100%);
    background-clip: text;
    animation: hue 10s infinite linear;
  }
}
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}
@media (max-width: 991px) {
  .titleContainer {
    padding: 16px 32px 12px;
  }
  .titleText {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .titleContainer {
    padding: 16px 16px 12px;
  }
}
@media print {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: transparent;
    break-after: page;
  }
  .titleText {
    span {
      background-image: linear-gradient(60deg, #ce5d41 0%, #c8417e 100%);
      animation: none;
    }
  }
}
