.title {
  margin: 0;
  padding: 16px 64px;
  color: #ffffff;
  background-color: #333231;
}
.menu {
  display: flex;
  position: sticky;
  top: 0;
  padding: 16px 64px;
  color: #ffffff;
  background-color: #333231;
}
