.title {
  position: relative;
  z-index: 1;
  margin-bottom: -8px;
  padding-bottom: 8px;
  color: #ffffff;
  background-color: var(--header-color);
}
.titleContainer {
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 16px 64px 16px 72px;
}
.titleText {
  margin: 0;
}
.menu {
  position: sticky;
  top: 0;
  z-index: 1;
  color: #ffffff;
  background-color: var(--header-color);
}
.menuContainer {
  display: flex;
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 16px 64px 16px 72px;
}
@media (max-width: 900px) {
  .titleContainer,
  .menuContainer {
    padding: 16px;
  }
}
