:root {
  --container-max-width: 1500px;
  --header-color: #2b2927;
  --paper-color: #f1efed;
  --background-color: #e4e0dc;
  // font-family: Roboto, sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  &:lang(ja) {
    font-family: 'Noto Sans JP', sans-serif;
    font-feature-settings: 'palt' 1;
  }
}
body {
  margin: 0;
  min-height: 100vh;
}
a {
  font-weight: 500;
  color: #308698;
  text-decoration: inherit;
}
a:hover {
  color: #236e7d;
}
button {
  font-size: 1em;
  font-family: inherit;
}
strong {
  font-weight: 600;
}
#root {
  width: 100%;
}
// Override styles of react-medium-image-zoom
[data-rmiz-btn-unzoom] {
  display: none;
}
[data-rmiz-modal-overlay='visible'] {
  background-color: #ffffff66 !important;
  backdrop-filter: blur(36px);
  filter: saturate(1.5);
}
// @media print {
//   :root {
//     zoom: 70%;
//     font-size: 20px;
//   }
// }
