.menu {
  position: sticky;
  top: -1px;
  z-index: 1;
  color: var(--paper-color);
  background-color: var(--header-color);
  box-shadow: 0 0 6px #00000088;
}
@media print {
  .menu {
    display: none;
  }
}
.menuContainer {
  display: flex;
  position: relative;
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0 36px 0 72px;
}
.menuList {
  display: flex;
  flex-direction: row;
  margin: 0 -12px;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
  list-style-type: none;
  scroll-behavior: smooth;
}
.menuListItem {
  a {
    display: inline-block;
    padding: 16px 12px;
    color: #b1a5a5;
    transition: color 300ms;
    &:hover,
    &:focus {
      color: var(--paper-color);
    }
  }
  &.active a {
    &[href='#game'] {
      color: #f29d8a;
    }
    &[href='#mod'] {
      color: #c0c866;
    }
    &[href='#3dcg'] {
      color: #e8a855;
    }
    &[href='#painting'] {
      color: #8dc69c;
    }
    &[href='#animation'] {
      color: #dac135;
    }
    &[href='#app'] {
      color: #7eb9c4;
    }
    &[href='#model'] {
      color: #ccc24e;
    }
    &[href='#hardware'] {
      color: #a8b1e5;
    }
    // &:hover {
    //   color: var(--paper-color);
    // }
  }
}
.arrow {
  position: absolute;
  bottom: -12px;
  left: -8px;
  border-top: 12px solid var(--header-color);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  transition: translate 400ms 100ms;
}
@media (max-width: 991px) {
  .menuContainer {
    padding: 0 32px;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .menuContainer {
    padding: 0 16px;
  }
}
