.section {
  background-color: #f1efed;
}
.sectionContainer {
  display: flex;
  flex-direction: row;
  gap: 32px;
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 32px 64px;
}
.text {
  flex-basis: 30%;
  flex-shrink: 0;
  min-width: 320px;
}
@media (max-width: 900px) {
  .sectionContainer {
    flex-direction: column;
    gap: 24px;
    padding: 24px 16px;
  }
  .text {
    min-width: none;
  }
}

.title {
  margin: 0 0 16px;
}
.description > div,
.description > p {
  margin: 0 0 16px;
}
.description > *:last-child {
  margin-bottom: 0;
}
.images {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 16px;
}
.imageColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  &.even {
    padding-top: 10%;
  }
}
.image {
  display: block;
  max-width: 100%;
}
