.section {
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
  background-color: var(--paper-color);
  box-shadow: 0 0 6px #00000022;
  &:last-child {
    margin-bottom: 0;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 36px;
    background-color: var(--secondary-color);
    box-shadow: inset -4px 0 4px -4px #00000055;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 36px;
    background-color: var(--primary-color);
    box-shadow: inset -4px 0 4px -4px #00000066;
    transform: skew(-1.5deg);
    translate: -16px;
  }
}
.sectionContainer {
  display: grid;
  grid-gap: 24px 36px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
  grid-auto-rows: min-content;
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 32px 48px 32px 72px;
}
.caption,
.description {
  width: 30vw;
  min-width: 300px;
  max-width: 480px;
}
.title {
  margin: 0 0 16px;
}
.info {
  font-size: 0.8em;
}
.description {
  overflow-wrap: break-word;
  & > div,
  & > p {
    margin: 0 0 16px;
  }
}
.description > *:last-child {
  margin-bottom: 0;
}
.images {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 16px;
  grid-row-end: span 2;
}
.imageColumn {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  gap: 16px;
  &.even {
    padding-top: 10%;
  }
}
.image {
  display: block;
  width: 100%;
}
@media screen and (max-width: 950px) {
  .section {
    box-shadow: 0 0 8px #00000044;
    &::before {
      right: 0;
      bottom: auto;
      width: auto;
      height: 36px;
      box-shadow: inset 0 -4px 4px -4px #00000055;
    }
    &::after {
      right: 0;
      bottom: auto;
      width: auto;
      height: 36px;
      transform: skew(0deg, -1.5deg);
      translate: 0 -16px;
      box-shadow: inset 0 -4px 4px -4px #00000066;
    }
  }
  .sectionContainer {
    grid-template-columns: auto;
    grid-gap: 24px;
    padding: 58px 16px 32px;
  }
  .caption,
  .description {
    width: 100%;
    min-width: 0;
    max-width: 100%;
  }
  .images {
    gap: 8px;
  }
  .imageColumn {
    gap: 8px;
  }
}
